<div class="mt-4">
	<h4 id= "burger-title">{{burger_name}}</h4>

	<!--Devour me button-->
	<button class="change-devoured btn " data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="public\assets\img\unnamed.png" alt = "" width=30px height=30px" class="mr-2"> Devour
	</button>
</div>